body {
  font-family: sans-serif;
  background-color: rgb(31, 23, 49);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
  color: white;
}

input {
  width: 100%;
  height: 40px;
  background-color: rgb(73, 60, 104);
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #7A42E4;
}

div#response {
  overflow-y: scroll;
  background-color: rgb(62, 44, 104);
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #7A42E4;
}

div#response p {
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgb(62, 44, 104);
  border-radius: 5px;
  border: 1px solid #7A42E4;
}